<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" 
	colors="true"
	strict="true"
	backupGlobals="false"
	backupStaticAttributes="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
>
	<testsuites>
		<testsuite name="Hoborg_Commons">
			<directory>./tests/unit/Hoborg/Test</directory>
			<directory>./src/Hoborg/Bundle/*/Tests</directory>
		</testsuite>
	</testsuites>

</phpunit>
